<div>
    <h2 translate="madrassaApp.scholar.home.title">Scholars</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="scholar.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  translate="madrassaApp.scholar.home.createLabel">
                        Create new Scholar
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'madrassaApp.scholar.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.reset()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="scholarNumber"><span translate="madrassaApp.scholar.scholarNumber">ScholarNumber</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="sex"><span translate="madrassaApp.scholar.sex">Sex</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span translate="madrassaApp.scholar.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="firstName"><span translate="madrassaApp.scholar.firstName">FirstName</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="birthDate"><span translate="madrassaApp.scholar.birthDate">BirthDate</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="birthPlace"><span translate="madrassaApp.scholar.birthPlace">BirthPlace</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="photo"><span translate="madrassaApp.scholar.photo">Photo</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="nbYearsXP"><span translate="madrassaApp.scholar.nbYearsXP">NbYearsXP</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody infinite-scroll="vm.loadPage(vm.page + 1)" infinite-scroll-disabled="vm.page >= vm.links['last']">
                <tr ng-repeat="scholar in vm.scholars track by scholar.id">
                    <td><a ui-sref="scholar-detail({id:scholar.id})">{{scholar.id}}</a></td>
                    <td>{{scholar.scholarNumber}}</td>
                    <td translate="{{'madrassaApp.SexEnum.' + scholar.sex}}">{{scholar.sex}}</td>
                    <td>{{scholar.name}}</td>
                    <td>{{scholar.firstName}}</td>
                    <td>{{scholar.birthDate | date:'medium'}}</td>
                    <td>{{scholar.birthPlace}}</td>
                    <td>
                        <img data-ng-src="{{'data:' + scholar.photoContentType + ';base64,' + scholar.photo}}" style="max-height: 30px;" ng-if="scholar.photo"/> {{scholar.photoContentType}} {{byteSize(scholar.photo)}}
                    </td>
                    <td>{{scholar.nbYearsXP}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="scholar-detail({id:scholar.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="scholar.edit({id:scholar.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="scholar.delete({id:scholar.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
