
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myClassRoomLabel" translate="madrassaApp.classRoom.home.createOrEditLabel">Create or edit a ClassRoom</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.classRoom.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="madrassaApp.classRoom.code" for="field_code">Code</label>
            <input type="text" class="form-control" name="code" id="field_code"
                    ng-model="vm.classRoom.code"
                    required />
            <div ng-show="editForm.code.$invalid">
                <p class="help-block"
                    ng-show="editForm.code.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="madrassaApp.classRoom.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.classRoom.name"
                    required />
            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                    ng-show="editForm.name.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="madrassaApp.classRoom.moment" for="field_moment">Moment</label>
            <select class="form-control" name="moment" ng-model="vm.classRoom.moment" id="field_moment" required>
                <option value="SATURDAY_MORNING" translate="madrassaApp.MomentEnum.SATURDAY_MORNING">SATURDAY_MORNING</option>
                <option value="SATURDAY_AFTERNOON" translate="madrassaApp.MomentEnum.SATURDAY_AFTERNOON">SATURDAY_AFTERNOON</option>
                <option value="SUNDAY_MORNING" translate="madrassaApp.MomentEnum.SUNDAY_MORNING">SUNDAY_MORNING</option>
            </select>
            <div ng-show="editForm.moment.$invalid">
                <p class="help-block"
                    ng-show="editForm.moment.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="madrassaApp.classRoom.startHour" for="field_startHour">StartHour</label>
            <input type="text" class="form-control" name="startHour" id="field_startHour"
                    ng-model="vm.classRoom.startHour"
                    required />
            <div ng-show="editForm.startHour.$invalid">
                <p class="help-block"
                    ng-show="editForm.startHour.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="madrassaApp.classRoom.endHour" for="field_endHour">EndHour</label>
            <input type="text" class="form-control" name="endHour" id="field_endHour"
                    ng-model="vm.classRoom.endHour"
                    required />
            <div ng-show="editForm.endHour.$invalid">
                <p class="help-block"
                    ng-show="editForm.endHour.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label translate="madrassaApp.classRoom.scholars" for="field_scholars">scholars</label>
            <select class="form-control" id="field_scholars" name="scholars" ng-model="vm.classRoom.scholars" ng-options="scholar as scholar.id for scholar in vm.scholars track by scholar.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
